
html, body {
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
    background-color: #FFB71B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: larger;
}
h1{
    font-size: 4.5em;
}
 h3{
    font-size: 2.25em;
}
ul {
    list-style: none;
}
.font{
        font-family: 'Titillium Web', sans-serif;   
}
.flex{
    display: flex;
}
.navbar__logo{
    margin: 0px 30px;
    position: relative;
    left: 22px;
}
.navbar__logo *{
    padding: 10px;
    width: 100%;
}
header{
    background-image: url(./img/bg.jpg);
    background-size: cover; 
}
.navbar{
    justify-content:space-around;
    align-items: center;
}


.navbar__list{
    list-style: none;
    }
.navbar__list li{
    padding: 30px;
}
.navbar__buttons *{
    margin-right: 10px;
    margin-left: 10px;
    padding: 2px;
    background-color: Transparent;
    border: none;
}
.navbar__buttons button:hover{
transform: scale(1.1);
}

.banner {
    width: 100%;
    height: 630px;
    position: relative;
    background-image: url(./img/bg.jpg);
    background-size: cover; 
}
.banner__imgs{
    justify-content: space-evenly;
   
}
.banner__imgs *{
    margin: 10px;
    width: 33%;
}
.banner__text{
    width: 570px;
    height: 330px;
    background:rgba(0,0,0,0.3);
    padding: 10px;
    padding-left: 30px;
    color: white;
    position: relative;
    bottom: 340px;
    left: 50px;
}

.banner__text a{
    background-color: #45A041;
   padding: 15px;
   position: relative;
   top: 25px;
   border: 8px solid black;
}
.features h3{
    text-align: center;
    background-color: #F89ABA;
   padding: 15px;
   position: relative;
   border: 8px solid black;
}
.features__img{
    position: relative;
    height: 742px;
}
.features__banner{
    height: 742px;
    background-image: url(./img/bg2.png);
    background-size: cover; 
}
.features__banner p{
    color: white;

}
.features__list{
    position: relative;
    left: 853px;
    bottom: 669px;
}
.features__list p{
    margin-left: 20px;
    font-size: 1.5em;
}
.features__list li{
    display: flex;
    align-items: center;
    margin-bottom: 122px;
    }
    .gallery{
        background-color: #FFB71B;
        height:fit-content;
    }
.gallery h3{
    text-align: center;
    background-color: #19AED2;
   padding: 15px;
   position: relative;
   border: 8px solid black;
}
.gallery__imgs{
    justify-content: center;
   flex-wrap: wrap;
   
}
.gallery__imgs *{
    margin: 10px;
    border: 8px solid black;
}
.gallery__artist{
    background-color: #F89ABA; 
}
.gallery a{
    display: block;
    text-align: center;
    background-color: #45A041;
    padding: 15px;
    position: relative;
    top: 25px;
    border: 8px solid black;
    margin: 36px 30% 102px 30%;
}
.gallery a:hover,.banner__text a:hover,.footer button:hover{
    background-color: white;
}
.footer{
    background-color: #19AED2;
    color: white;
}
.footer img{
    border: 8px solid black;
    
}
.footer button{
    background-color: Transparent;
    border: none;
    background-color: #45A041;
    padding: 10px;
    position: relative;
    border: 4px solid black;
    font-family: 'Titillium Web', sans-serif;   
}
.footer__newsycontact{
    width: 100%;
    padding-top: 15px;
   
}
.footer__newsletter *{
    margin: 8px 0;
}
.footer__newsletter{
    padding: 40px 10px;
    border: 8px solid black;
    align-items:flex-end;
    justify-content: space-between;
    margin-top: -15px;
}
.footer__contact *{
    margin: 8px 0;
}
.footer__contact {
    margin-top: -8px;
    padding: 10px;
    border: 8px solid black;
    align-items:flex-end;
    justify-content: space-between;
    padding-top: 49px;
}

.tyc{
    align-items: center;
}
#email{
    padding: 14px 100px 14px 20px;
}